/* Browse Page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #fff;
}
.brand{
  display: flex;
}

.app {
  max-width: 1200px;
  margin: auto;
}

.tabs .browse {
  background: #26354a;
  color: white;
  border-radius: 8px;
}


.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
}

.brand span {
  font-size: 20px;
  font-weight: bold;
  color: red;

}

.tabs {
  
  gap: 10px;
}

.tabs button {
  border: 0;
  background: white;
  padding: 10px 15px;
  cursor: pointer;
}
.tabs .profile {
  background: #26354a;
  color: white;
  border-radius: 8px;
}

.profile-card {
  display:flex;
  flex-direction: column;
}

.view {
  padding: 20px 40px;
  background: #f5f5f5;
  padding: 50px;
  margin: 20px 50px;
  margin-right: 500px;
}

.profile-card label{
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 3.5;
  
  
}
.section-head {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.profile-card input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px;
}
.profile-card button {
  padding: 10px 20px;
  background: #26354a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.profile-card textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px;
}